body {
  background-image: url("https://phenomenex.files.wordpress.com/2016/01/water.jpg");
}

.column-1 {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

.column-2 {
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

section {
  font-family: Arial;
}
